Source: sc3-quarks
Section: sound
Priority: optional
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 9.0.0),
Standards-Version: 3.9.3
Homepage:  https://github.com/HuayraLinux/sc3-quarks.git
Vcs-Git: https://github.com/HuayraLinux/sc3-quarks.git
Vcs-Browser: https://github.com/HuayraLinux/sc3-quarks.git

Package: sc3-foxdot-quarks
Architecture: all
Depends: ${shlibs:Depends}, supercollider (>= 3.7)
Conflicts: sc3-quarks (<= 1.1)
Replaces: sc3-quarks (<= 1.1)
Description: Pack of community Quarks for SuperCollider 3
 A Quark is a package of SuperCollider code containing classes, extension
 methods, documentation and server UGen plugins.
 .
 This package add the follow extensions to SupperCollider:
  - BatLib
  - FoxDotQuark
 
